<! doctype>
<html>
<head> 
    <title> MARK 1 </title> 


    
</head>

    <body>
    
        <h1> {{pageTitle}} </h1>
        <form> 
        <input type="text", name="name" placeholder="name">
        <button type="submit", class="button"> SUBMIT </button>
        </form>
    
    </body>
    <script src="submit.js"></script>
</html>